* 
{
	box-sizing: border-box;
}

/*for mobiles*/
[class*="col-"] 
{
    width: 100%;
	float:left;
}

/*for tablets*/
@media only screen and (min-width: 0px) and (max-width: 767px)
{
    .col-m1 {width: 8.33%;}
    .col-m2 {width: 16.66%;}
    .col-m3 {width: 25%;}
    .col-m4 {width: 33.33%;}
    .col-m5 {width: 41.66%;}
    .col-m6 {width: 50%;}
    .col-m7 {width: 58.33%;}
    .col-m8 {width: 66.66%;}
    .col-m9 {width: 75%;}
    .col-m10 {width: 83.33%;}
    .col-m11 {width: 91.66%;}
    .col-m12 {width: 100%;}
}

/*for desktop*/
@media only screen and (min-width: 768px)
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.gapPadding
{
	padding:5px;
	background-color: black;
	float:left;
	position:relative;
	width:20%;
}

body
{
	margin:0px;
	padding:0px;
}

#navigation
{
	min-height: 75px;
	height:auto;
	position: fixed;
	background-color: #b0cce8	;
	padding:0px;
	margin:0px;
	float:left;
	z-index: 100;
	box-shadow: 0px 2px 2px #808080;
}

#logo
{
	width:60px;
	border:1px solid #ddd;
	margin-left:5%;
	margin-top: -3%;
}

#profile-name
{
	color:black;
	margin-top: 0px;
	padding-left: 20px;
	font-size:25px;
}

#navigation ul
{
	list-style-type: none;
	margin-top: 22px;
}

#navigation ul li
{
	padding:4px;
	display:inline-block;
	text-align:center;
}

.li-data
{
	background-color:#74AFAD;
	border-radius: 5px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:20px;
	box-shadow: 2px 2px 2px #aaaaa1;
}

.li-data a:active
{
	transform: translateY(2px);
}

.li-data a:link, a:visited
{
	color:black;
	text-decoration:none;
}



.filler
{
	background-color: #b0cce8	;
	color:#ECECEA;
	height:1px;
}


#profile
{
	min-height:200px;
	background-color: #ffffff;
	padding:50px 0px 0px 0px;
	margin:0px;
}


#cover-img img
{
	position:relative;
	width:100%;
	height:auto;
	max-height:500px;
	background-size: contain;
	z-index:99;
	opacity:1;
}

#profile-img
{
	border:2px solid #ddd;
	width:100px;
}

#self-data
{
	padding-top:30px;
	padding-bottom: 50px;
	font-size: 20px;
}

#self-data p
{
	border-left: 3px solid #9999ff;
	padding:10px;
	padding-left:20px;
}

#ext-links-p
{
	display:inline;
}

#ext-links
{
	list-style-type: None;
	padding: 0px;
	width: 70%;
	margin: 0px;
	display:inline;
	padding-left: 20px;
}

#ext-links li
{
	display:inline;
	padding-right:50px;
}

#ext-links li img
{
	width:30px;
	height:30px;
}

#ext-links li img[src="github.png"]
{
	border-radius:50%;
}

#feed
{
	min-height:300px;
	background-color: #f2f2f2;
	padding:0px;
	margin:0px;
}

#init-message-wrapper
{
	min-height:250px;
	height: auto;
	padding-top:50px;
}

#init-message
{
	border:1px solid black;
	border-radius:5px;
}

#init-message p
{
	text-align:center;
}

#init-message textarea
{
	height:100px;
	margin:auto;
}

#post
{
	text-align:center;
}

button
{
	width:40%;
	margin-left:4%;
	margin-right:4%;
}

.postit
{
	background-color: #e6e6ff;
	border-radius: 5px;
}

#outter-wrapper
{
	padding-top:50px;
	height:auto;
	padding-bottom:50px;
}

.inner-wrapper
{
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
}

.posts
{
	height: 30px;
	border:1px solid #b3b3b3;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #cccccc;
}

.gap
{
	height:30px;
}

.posts
{
	height:auto;
}

.posts img
{
	width: 50px;
	height:50px;
	border:1px solid #ddd;
	margin:auto;
}

.namep
{
	display: inline;
	float:left;
	margin-left: 5%;
	padding: 3px;
}

.datep
{
	display:inline;
	float:right;
	margin-right: 5%;
	padding: 3px;
}

#post-text
{
	clear:both;
	padding: 5px 5px 5px 5px;
	margin-left: 10%;
	margin-right: 10%;
	text-align:center;
	font-size:20px;
	box-shadow: 0px 1px 10px #bfbfbf;
	padding-top:20px;
	padding-bottom: 20px;
}

.likes
{
	display: inline;
	float:left;
	margin:0px;
	margin-bottom:10px;
	margin-left:5%;
}

.likecounter
{
	display:inline;
	float: right;
	margin:0px;
	margin-right:5%;
	width: auto;
	background-color: #e6e6ff;
	box-shadow: 0px 1px 5px #bfbfbf;
}

footer
{
	text-align:center;
}

footer div
{
	height:10px;
}

@media only screen and (min-width: 0px) and (max-width:767px)
{
	#logo
	{
		width: 50px;
	}
	
	#profile-name
	{
		font-size:25px;
		float:right;
		padding-left:10px;
	}
	
	#navigation ul
	{
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
	}
	
	#navigation ul li
	{
		margin-right: 1%;
	}
	
	.li-data
	{
		margin-bottom: 10px;
	}
	
	#profile
	{
		padding-top: 175px;
	}
	
	.namep, .datep
	{
		width: 100%;
		text-align: center;
		clear: both;
		margin: 0px;
		margin-top: 1%;
	}
	
	#profile-img
	{
		margin-left: 5%;
	}
	
	#ext-links-p
	{
		display: block;
	}
	
	#ext-links li
	{
		padding-right: 5px;
	}
}